@mixin flex($justifycontent,$alignitems,$gap,$direction) {
    display: flex;
    justify-content: $justifycontent;
    align-items: $alignitems;
    gap: $gap;
    flex-direction: $direction;
}
@mixin font($fontfamily,$fontsize) {
    font-family: $fontfamily;
    font-weight: bold;
    font-size: $fontsize;
}
@mixin border($bordersize,$borderweight,$bordercolor,$borderradius) {
    border: $bordersize $borderweight $bordercolor;
    border-radius: $borderradius;
}
@mixin grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
@mixin btnAnimation() {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: white;
        @include border(1px,solid,white,10px);
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
@mixin purpleBtnAnimation() {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $purpleColor;
    @include border(1px,solid,white,10px);
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
@mixin textdeco {
    color: white;
    text-shadow : 2px 2px 5px black;
    text-align: start;
}
