$purpleColor: #8A2BE2;
$breakpoints: (
  sm: 942px,
  md: 1147px,
  lg: 1393px,
  xl: 1569px,
);
$primaryColor: #672280;
$secondaryColor: #A626D3;
$primaryFont: 'Cairo';
$secondaryFont: 'Karla';
$backupFont: sans-serif;