.about-container {
    @include flex(space-between,center,10rem,row);
    max-width: 70%;
    margin: 2rem auto;
    text-align: center;
    padding: 4rem;
    background-image: linear-gradient(to right,$primaryColor,$secondaryColor,), url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(8px 8px 10px gray);
    img {
        width: 25rem;
    }
    h1 {
        @include font(($secondaryFont,$backupFont),4rem);
        text-transform: uppercase;
        color: white;
        text-shadow: 2px 2px 5px black;
        padding: 2rem;
    }
    p {
        @include font(($primaryFont,$backupFont),2rem);
        color: white;
        text-align: start;
    }
}
@media (max-width: 1569px) {
    .about-container {
        max-width: 100%;
        @include flex(space-between,center,5rem,column);
        img {
            width: 20rem;
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}
@media (max-width: 1393px) {
    .about-container {
        max-width: 100%;
        img {
            width: 15rem;
        }
        h1 {
            @include font(($secondaryFont,$backupFont),3rem);
        }
        p {
            @include font(($primaryFont,$backupFont),1.75rem);
        }
    }
}
@media (max-width: 942px) {
    .about-container {
        max-width: 100%;
        @include flex(space-between,center,5rem,column);
        img {
            width: 15rem;
        }
        h1 {
            @include font(($secondaryFont,$backupFont),2rem);
        }
        p {
            @include font(($primaryFont,$backupFont),1.5rem);
        }
    }
}