.footer-container {
    margin-top: 4rem;
    max-width: 100%;
    text-align: center;
    background: linear-gradient(#672280,#A626D3);
    width: 100%;
    .content-container {
        @include flex(center,center,10rem,row);
        padding: 6rem;
        h1 {
            @include font(('Cairo',sans-serif),2rem);
            color: white;
        }
        .container-2 {
            .contact {
                @include flex(center,center,2rem,row);
                .contacticon {
                    transition: 150ms ease-in;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
    .copyright {
        @include flex(center,center,1rem,row);
        h1 {
            @include font(('Cairo',sans-serif),1.5rem);
            color: white;
        }
    }
}
@media (max-width: 745px) {
   .footer-container {
    .content-container {
        @include flex(center,center,5rem,column)
    }
   }
}
@media (max-width: 445px) {
  .footer-container {
    .copyright {
        h1 {
            @include font(('Cairo',sans-serif),1rem);
        }
    }
  }
}