
main  {
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
}
.hero {
    background-image: linear-gradient(#672280b3,rgb(166, 38, 211, 0.7)), url(./assets/heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: fixed;
    max-width: 70%;
    z-index: -1;
    filter: drop-shadow(8px 8px 10px gray);
    .hero-text {
        padding-top: 10rem;
        max-width: 60%;
        h1 {
            @include font(('Cario',sans-serif),2.125rem);
            @include textdeco();
        }
        p {
            @include font(('Cario',sans-serif),1.5rem);
            @include textdeco();
        }
        .btn-container {
            @include flex(space-evenly,center,10px,row); 
            margin-bottom: 10rem;
        }
        .btn {
            padding: 1.250rem 10rem;
            background: transparent;
            cursor: pointer;
            @include border(5px,solid,white,10px);
            color: white;
            position: relative;
            transition: color 0.4s linear;
            @include font(('Karla',sans-serif),1.125rem);
        }
        .btn:hover {
            color: black;
            text-shadow: 2px 2px 5px $purpleColor;
        }
        .btn::before {
            @include btnAnimation();
            border-radius: 0px;
        }
        .hero-btn::before {
            transform: scaleX(0);
        }
        .hero-btn:hover::before {
            transform: scaleX(1);
        }
    }
}
@media (max-width: 1570px) {
    .hero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .hero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 1.5rem;
                text-align: center;
                padding: 0;
            }
            .p-1 {
                font-size: 1rem;
                text-align: center;
            }
            .p-2 {
                font-size: 1rem;
                text-align: center;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
            }
        }
    }

}
@media (max-height: 745px) {
    .hero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .hero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 1.5rem;
                text-align: center;
                padding: 0;
            }
            .p-1 {
                font-size: 1rem;
                text-align: center;
            }
            .p-2 {
                font-size: 1rem;
                text-align: center;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
            }
        }
    }
}
@media (max-height: 656px) {
    .hero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .hero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 1.5rem;
                text-align: center;
                padding: 0;
            }
            .p-1 {
                font-size: 1rem;
                text-align: center;
            }
            .p-2 {
                font-size: 1rem;
                text-align: center;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 105rem;
            }
        }
    }
}