.login-section {
    background-image: linear-gradient(rgba(103, 34, 128, 0.7), rgba(166, 38, 211, 0.7)), url(./assets/loginbackground.jpg);
    padding: 8.57rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    max-width: 60%;
    margin: 4rem auto;
    border: 1px solid red;
    text-align: center;
    @include border(2px,solid,black,10px);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    background-color: white;
    padding: 2rem;
    .login {
        text-align: center;
        margin-right: 9rem;
        @include font(('Karla',sans-serif),2rem);
        transition: 350ms;
        text-shadow: 2px 2px 5px blueviolet;
        &:hover {
            transform: translateX(-3px) translateY(-3px);
        }
    }
    img {
        filter: drop-shadow(8px 8px 10px gray);
        @include border(1px,solid,black,5rem);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        transition: 350ms;
        &:hover {
            transform: translateX(-3px) translateY(-3px);
        }
    }
    h1 {
        text-align: start;
        margin-left: 9rem;
        @include font(('Cairo',sans-serif),1.25rem)
    }
    button {
        width: 60%;
        display: block;
        padding: 1rem 11rem;
        margin: 2rem auto;
        @include border(1px,solid,blueviolet,10px);
        cursor: pointer;
        transition: 350ms;
        @include font(('Cairo',sans-serif),1.25rem);
        background-color: transparent;
        box-shadow: 2px 2px 5px blueviolet;
        &:hover {
            background-color: blueviolet;
        }
    }
    p {
        @include font(('Karla',sans-serif),0.9rem);
        opacity: 0.7;
    }
    .remember-me {
        display: inline;
        width: 5%;
    }
}
@media (max-width: 1500px) {
    .login-container {
        button {
            padding: 1rem 8rem; 
        }
    }
}
@media (max-width: 1100px) {
    .login-container {
        max-width: 80%;
    }
}

@media (max-width: 950px) {
    .login-section {
        padding: 0;
    }
    .login-container {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        input {
            width: 100%;
        }
        h1 {
            margin-left: 0;
        }
        .login {
            margin-left: 9rem;
        }
        button {
            padding: 1rem 5rem;
        }
    }
}
@media (max-width: 700px) {
    .login-container {
        input {
            width: 100%;
        }
        button {
            padding: 1rem 2rem;
        }
        .login {
            margin: auto;
        }
    }
}