.backdropimage {
    width: 100%;
    background-image: linear-gradient(rgb(103, 34, 128,0.8),rgb(166, 38, 211,0.8));
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.description-container {
    @include flex(center,top,2rem,row);
    @include border(1px,solid,purple,10px);
    color: white;
    filter: drop-shadow(8px 8px 10px gray);
    text-shadow: 2px 2px 5px black;
    box-shadow: 5px 5px 8px $purpleColor;
    width: 70%;
    margin: 2rem auto;
    padding: 4rem;
    background-image: linear-gradient(rgb(103, 34, 128,0.8),rgb(166, 38, 211,0.8));
    img {
        border-radius: 10px;
    }
    .movietitle {
        @include flex(center,center,2rem,row);
        @include font(('Cairo',sans-serif),1.25rem);
    }
    .genres {
        @include flex(center,center,2rem,row);
        @include font(('Cairo',sans-serif),1.25rem);
        text-align: center
    }
    .seasons {
        @include flex(center,center,2rem,row);
        @include font(('Cairo',sans-serif),1.25rem);
        text-align: center
    }
    .vote {
        @include font(('Cairo',sans-serif),3rem);
        @include border(1px,solid,black,100%);
        box-shadow: 5px 5px 8px rgb(3,37,65);
        background-color: rgb(3,37,65);
        text-align: center;
        width: 50%;
        margin-block: 2rem;
        margin-left: 10rem;
    }
    .summary {
        @include font(('Cairo',sans-serif),1.5rem);
        margin-top: 3rem;
    }
    .buttons {
        @include flex(center,center,1rem,row);
        margin-left: 4rem;
        margin-top: 1rem;
        .watch {
            margin-left: 1rem;
            background-color: rgb(3,37,65);
        }
    }
    .list {
        @include font(('Cairo',sans-serif),1.75rem);
        text-align: center;
    }
}
.media {
    margin-top: 4rem;
}
.lastepisodetoair {
    @include flex(start,center,2rem,row);
    margin: 4rem 9rem;
    @include border(1px,solid,white,10px);
    padding-right: 2rem;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    @include font(('Cairo',sans-serif),1.1rem)
}
.letainfo {
    @include flex(space-between,top,2rem,row);
}
.letaoverview {
    text-align: start;
    margin-top: 2rem;
    width: 100%;
    font-weight: 400;
}
.letaseason {
    color: gray;
}
.letaruntime {
    color: gray;
    font-weight: 400;
}
.lastepisodetoairimg {
    width: 20rem;
    height: 31vh;
    @include border(1px,solid,white,10px)
}
.noimage {
    width: 20rem;
    @include border(1px,solid,white,10px)
}
.seasondesc {
    @include flex(start,top,1rem,row);
    margin: 4rem 9rem;
    @include border(1px,solid,white,10px);
    padding-right: 2rem;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    @include font(('Cairo',sans-serif),1.1rem)
}
.seasonimg {
    width: 20rem;
    @include border(1px,solid,white,10px)
}
.seasoninfo {
    text-align: start;
    .seasonname {
        font-size: 2rem;
        padding-right: 2rem;
    }
    .seasonpremiere {
        font-weight: 400;
    }
    .seasonoverview {
        font-weight: 400;
        margin-top: 5rem;
    }
}
.movie-credits {
    max-width: 82%;
    margin: auto;
    @include border(1px,solid,white,10px);
    background-color: white;
    text-align: center;
    h1 {
        @include font(('Karla',sans-serif),3rem);
    }
    .cast-container {
        margin-top: 4rem;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .cast {
        display: inline-flex;
        max-width: 82%;
        margin: auto;
        overflow-x: auto;
        .actor {
            flex: 0 0 auto;
            margin-right: 1.25rem;
        }
        .actor:last-child {
            margin-right: 0;
        }
        img {
            border-radius: 10px;
        }
        p {
            @include font(('Karla',sans-serif),1.2rem)
        }
        .nopfp {
            width: 13rem;
            height: 31.5vh;
        }
    }
    .display-content {
        margin-top: 4rem;
        overflow-y: hidden;
        white-space: nowrap;
        max-width: 82%;
        margin: auto;
    }
    .youtube-video {
        display: inline-flex;
        flex: 0 0 auto;
        margin-right: 1.25rem;
        iframe {
            width: 98rem;
            height: 50rem;
        }
    }
    .additional {
        max-width: 82%;
        margin: auto;
        @include flex(center,center,2rem,row);
        flex: 1;
        .status,.budget,.revenue,.og-language {
            @include border(1px,solid,purple,10px);
            @include font(('Cairo',sans-serif),1.25rem);
            background-image: linear-gradient(rgb(103, 34, 128,0.8),rgb(166, 38, 211,0.8));
            color: white;
            filter: drop-shadow(8px 8px 10px gray);
            text-shadow: 2px 2px 5px black;
            margin-top: 4rem;
            padding: 2rem 2rem;
            p {
                color: white;
                font-weight: 400;
                text-shadow: none;
            }
        }
    }
    .original-language {
        text-transform: uppercase;
    }
    .reviewflex {
        overflow-x: auto;
    }
    .reviews {
        margin-top: 4rem;
    }
    .review {
        display: inline-flex;
        transform: translate(50px);
        margin: auto;
        padding: 2rem 8rem;
        .thereview {
            @include border(1px,solid,purple,10px);
            @include font(('Cairo',sans-serif),1.25rem);
            background-image: linear-gradient(rgb(103, 34, 128,0.8),rgb(166, 38, 211,0.8));
            color: white;
            filter: drop-shadow(8px 8px 10px gray);
            text-shadow: 2px 2px 5px black;
            margin-top: 1rem;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        
    }
    .author-details {
        width: 75rem;
        padding: 1rem;
        @include flex(start,center,1rem,row);
        .reviewpfp {
            @include border(1px,solid,white,20rem);
            width: 4rem;
        }
        .reviewauthor {
            text-align: start;
        }
        .noreviewpfp {
            width: 4rem;
        }
        h1 {
           @include font(('Karla',sans-serif),1rem);
        }
        p {
            @include font(('Karla',sans-serif),1rem);
            color: gray;
        }
        .time {
            @include flex(start,center,1rem,row);
        }
        .reviewrating {
            @include flex(start,center,0,row);
        }
    }
    .reviewcontent {
        text-align: start;
        padding: 1rem;
        @include font(('Karla',sans-serif),1rem);
        text-shadow: none;
    }
    .noprofilepic {
        width: 4rem;
        @include border(1px,solid,white,20rem);
    }
}