header {
    background: linear-gradient(#672280,#A626D3) right;
    position: relative;
    width: 100%
}
.navbar {
    @include flex(space-between,center,20px,row);
    position: sticky;
    width: 100%;
    margin: auto;
    padding: 20px;
}
.nav-links {
    @include flex(space-between,center,20px,row);
    @include font(('Karla',sans-serif),1.125rem);
    list-style: none;
    margin-right: 3.5rem;
    gap: 3rem;
    position: relative;
    .dropdown {
        position: relative;
    }
    .latest {
        @include flex(space-evenly,center,5px,column);
        @include border(1px,solid,white,10px);
        @include font(('Karla',sans-serif),1.2rem);
        position: absolute;
        width: 180%;
        top: calc(100% + 1rem);
        background-color: white;
        padding: 2rem;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
        z-index: 1;
        li {
            cursor: pointer;
            padding: 0.5rem 0;
            text-align: start;
            &:hover {
                transform: translateX(2px) translateY(-2px);
            }
        }
        a {
            text-decoration: none;
            color: black;
            text-shadow: 2px 2px 5px $purpleColor;
        }
    }
    .hamburger {
        position: absolute;
        left: 0rem;
        display: none;
        cursor: pointer;
    }
    .mobilenav {
        @include flex(space-evenly,center,3rem,row);
    }
    .mobile-btn {
        display: none;
    }
    .link {
        display: none;
    }
    .links {
        text-decoration: none;
        color: white;
        transition: color 0.4s linear;
        position: relative;
        padding: 1.125rem;
        &:hover {
            color: $purpleColor;
        }
        &::before {
            @include btnAnimation();
        }
    }
    .navbar-links {
        &::before {
            transform: scaleY(0);
        }
        &:hover::before {
            transform: scaleY(1);
        }
    }
    .navbar-btn {
        @include font(('Karla',sans-serif),1.125rem);
        @include border(1px,solid,white,10px);
        padding: 10px 20px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: 1s;
        box-shadow: 1px 2px white;
        &:hover {
            background-color: white;
            transform: translateX(-5px) translateY(5px);
            color: $purpleColor;
        }
    }
    .latestli {
        display: none;
    }
}
.logo {
    width: 15rem;
}
@media (max-width: 1393px) {
    .nav-links {
     gap: 2rem;
     margin-right: 0;
    }
 }
 @media (max-width: 1221px) {
    .nav-links {
        gap: 1rem;
    }
 }
@media (max-width: 1150px) {
    .nav-links {
        .links {
            display: none;
            padding: 1rem 8.3rem;
            width: 100%;
        }
        .mobilenav {
            background-image: linear-gradient(rgba(103, 34, 128, 0.8),rgba(166, 38, 211, 0.8));
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: fixed;
            top: 6.7rem;
            right: 0;
            max-width: 100%;
            padding: 5rem;
            gap: 1rem;
            height: 100vh;
        }
        .mobilelatest {
            text-align: center;
            padding: 0;
            .latestli {
                color: white;
                display: block;
                text-decoration: none;
                transition: color 0.4s linear;
                position: relative;
                padding: 1rem 5rem;
                max-width: 100%;
                margin-top: 2rem;
                &:hover {
                    color: $purpleColor;
                }
                &::before {
                @include btnAnimation();
                }
            }
            .latest-links {
                &::before {
                    transform: scaleX(0);
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }    
        }
        .mobile-btn {
            display: block;
            @include font(('Karla',sans-serif),1.125rem);
            @include border(1px,solid,white,10px);
            padding: 10px 20px;
            background-color: transparent;
            color: white;
            cursor: pointer;
            padding: 1rem 7.3rem ;
            transition: 1s;
            box-shadow: 1px 2px white;
            max-width: 100%;
            &:hover {
                background-color: white;
                transform: translateX(-5px) translateY(5px);
                color: $purpleColor;
            }
        }
        .navbar-btn {
            display: none;
        }
        .hamburger {
            display: block;
        }
        .dropdown {
            display: none;
            opacity: 0;
        }
        .link {
            display: block;
            text-decoration: none;
            color: white;
            transition: color 0.4s linear;
            position: relative;
            padding: 1rem 8rem;
            max-width: 100%;
            &:hover {
                color: $purpleColor;
            }
            &::before {
                @include btnAnimation();
            }
        }
        .navbar-link {
            &::before {
                transform: scaleY(0);
            }
            &:hover::before {
                transform: scaleY(1);
            }
        }
    }
}
@media (min-width: 35em) {
    header {
        width: 100%;
    }
}

