.searchtitles {
    @include font(('Cairo',sans-serif),2rem);
    margin-left: 60rem;
}
.searchmovies {
    @include flex(start,top,2rem,row);
    width: 90%;
    margin: auto;
    margin-block: 2rem;
    .searchtitle {
        @include font(('Cairo',sans-serif),1.25rem)
    }
    .searchoverview {
        @include font(('Cairo',sans-serif),1rem)
    }
    .buttons {
        @include flex(center,center,2rem,row);
        margin-top: 2rem;
        Button {
            margin-left: 2rem;
        }
    }
}
.searchformovie {
    margin-top: 2rem;
    @include flex(center,center,2rem,row);
    .searchinput {
        width: 80%;
        padding: 1rem;
        margin-left: 2rem;
    }
    .searchbutton {
        height: 6vh;
        width: 8rem;
    }
}
.success {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 99999;
    background-color: green;
    color: white;
    @include font(('Cairo',sans-serif),1rem);
    padding: 1rem 5rem;
    @include border(1px,solid,green,10px);
}
