.signup-section {
    background-image: linear-gradient(rgba(103, 34, 128, 0.7), rgba(166, 38, 211, 0.7)), url(./assets/loginbackground.jpg);
    padding: 4.38rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.signup-container {
    width: 60%;
    margin: 16rem auto;
    border: 1px solid red;
    text-align: center;
    @include border(2px,solid,black,10px);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    background-color: white;
    padding: 2rem;
    img {
        filter: drop-shadow(8px 8px 10px gray);
        @include border(1px,solid,black,5rem);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        transition: 350ms;
        &:hover {
            transform: translateX(-3px) translateY(-3px);
        }
    }
    .signup {
        text-align: center;
        margin: auto;
        @include font(('Karla',sans-serif),2rem);
        transition: 350ms;
        text-shadow: 2px 2px 5px blueviolet;
        &:hover {
            transform: translateX(-3px) translateY(-3px);
        }
    }
    h1 {
        text-align: start;
        margin-left: 5rem;
        @include font(('Cairo',sans-serif),1.25rem)
    }
    button {
        @include border(1px,solid,blueviolet,10px);
        @include font(('Cairo',sans-serif),1.25rem);
        padding: 1rem 11rem;
        cursor: pointer;
        transition: 350ms;
        background-color: transparent;
        box-shadow: 2px 2px 5px blueviolet;
        display: block;
        margin: 2rem auto;
        &:hover {
            background-color: blueviolet;
        }
    }
    p {
        @include font(('Karla',sans-serif),0.9rem);
        opacity: 0.7;
    }
    .error {
        padding: 2rem;
        @include border(1px,solid,black,10px);
        background-color: rgba(255,0,0,0.8);
        color: white;
        text-shadow: 1px 1px 5px black;
        @include font(('Karla',sans-serif),1.25rem);
        margin-top: 2rem;
    }
    .input {
        width: 80%;
    }
}
@media (max-width: 1000px) {
    .signup-container {
        width: 100%;
        margin-left: 0;
        input {
            width: 100%;
        }
        h1 {
            margin-left: 0;
        }
    }

}
@media (max-width: 650px) {
    .signup-container {
        button {
            padding: 1rem 5rem;
        }   
        h1 {
            margin-left: 0;
        }
    }
}
@media (max-width: 450px) {
    .signup-section {
        padding: 2rem;
    }
    .signup-container {
        button {
            padding: 1rem 2rem;
        }   
        h1 {
            margin-left: 0;
            font-size: 1rem;
        }
        img {
            width: 4rem;
        }
        .signup {
            font-size: 1rem;
        }
        .input {
            width: 100%;
        }
    }
}
