
main  {
    width: 70%;
    text-align: center;
}
.welcomehero {
    background-image: linear-gradient(#672280,rgb(166, 38, 211, 0.7)), url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(8px 8px 10px gray);
    .welcomehero-text {
        padding-top: 10rem;
        max-width: 60%;
        margin: auto;
        h1 {
            @include font(('Cario',sans-serif),2.125rem);
            @include textdeco();
            text-align: center
        }
        p {
            @include font(('Cario',sans-serif),1.5rem);
            @include textdeco();
            margin-top: 13rem;
        }
        .btn-container {
            @include flex(space-evenly,center,10px,row); 
            margin-top: 2rem;
            .btn {
                background: transparent;
                cursor: pointer;
                @include border(5px,solid,white,10px);
                color: white;
                position: relative;
                transition: color 0.4s linear;
                @include font(('Karla',sans-serif),1.125rem);
            }
            .btn:hover {
                color: black;
                text-shadow: 2px 2px 5px $purpleColor;
            }
            .btn::before {
                @include btnAnimation();
                border-radius: 0px;
            }
            .welcomehero-btn::before {
                transform: scaleX(0);
            }
            .welcomehero-btn:hover::before {
                transform: scaleX(1);
            }
            .searchbar {
                @include border(1px,solid,black,10px);
                @include font(('Karla',sans-serif),1.25rem);
                width: 100%;
                padding: 1.5rem;
                text-align: start;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
@media (max-width: 1570px) {
    main {
        width: 100%;
    }
    .welcomehero {
        padding: 0;
        .welcomehero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }
            p {
                @include font(('Cario',sans-serif),1.5rem);
                @include textdeco();
                margin-top: 2rem;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 105rem;
                .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
@media (max-height: 745px) {
    .welcomehero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .welcomehero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }
            p {
                @include font(('Cario',sans-serif),1.5rem);
                @include textdeco();
                margin-top: 2rem;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 105rem;
            }
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
}
@media (max-height: 868px) {
    .welcomehero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .welcomehero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }
            p {
                @include font(('Cario',sans-serif),1.5rem);
                @include textdeco();
                margin-top: 2rem;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 105rem;
            }
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
}
@media (max-height: 656px) {
    .welcomehero {
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: auto;
        .welcomehero-text {
            margin-bottom: 15rem;
            padding-top: 5rem;
            h1 {
                font-size: 2rem;
                text-align: center;
                padding: 0;
            }
            p {
                @include font(('Cario',sans-serif),1.5rem);
                @include textdeco();
                margin-top: 2rem;
            }
            .btn-container {
                flex-wrap: wrap;
                margin-top: 4rem;
                margin-bottom: 105rem;
            }
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
}

@media (min-width: 415px) {
    .welcomehero {
        .welcomehero-text {
            .btn {
                padding: 1.5rem 15.5rem;
            }
        }
    }
}
@media (max-width: 942px) {
    .welcomehero {
        .welcomehero-text {
            .btn {
                padding: 1.250rem 5rem;
            }
        }
    }
}
@media (min-width: 1569px) {
    .welcomehero {
        .welcomehero-text {
            .btn {
                padding: 1.250rem 2rem;
            }
        }
    }
}