.popular {
    max-width: 70%;
    margin: auto;
    margin-top: 7rem;
    @include flex(start,center,10px,row);
    button {
        @include border(1px,solid,black,10px);
        @include font(('Karla',sans-serif),1.25rem);
        cursor: pointer;
        padding: 0.5rem;
    }
    h1 {
        @include font(('Cairo',sans-serif),2rem)
    }
}
.card-container {
    @include flex(space-between,top,10px,row);
    max-width: 70%;
    margin: 1rem auto;
    overflow-x: scroll;
    padding: 2rem;
    .movieimage {
        @include border(1px,solid,rgbe(0,0,0,0),10px);
        box-shadow: 2px 2px 5px black;
        cursor: pointer;
        transition: 350ms;
        &:hover {
            transform: scale(1.1);
            z-index: 9999;
        }
    }
    .movietitle {
        @include font(('Cairo',sans-serif),1.25rem);
        transition: 350ms;
        &:hover {
            transform: scale(1.01);
            z-index: 9999;
        }
    }
    .moviedate {
        @include font(('Karla',sans-serif),1rem);
        color: black
    }
}
@media (max-width: 745px) {
    .popular {
        max-width: 90%;
        button {
            padding-inline: 0rem;
            @include font(('Karla',sans-serif),1rem);
        }
    }
}
@media (max-width: 474px) {
    .popular {
        max-width: 100%;
        margin-right: 0.2rem;
        button {
            @include font(('Karla',sans-serif),0.8rem);
        }
    }
}
