@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
@mixin font {
    font-family: 'Karla',sans-serif;
    font-weight: bold;
    font-size: 1.250rem;
}
$purpleColor: blueviolet;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background: linear-gradient(#672280,#A626D3) right;
}
.navbar {
    position: sticky;
    width: 90%;
    margin: auto;
    @include flex();
    padding: 20px;
}
.nav-links {
    @include flex();
    list-style: none;
    margin-right: 3.5rem;
    gap: 3rem;
    @include font();
    .links {
        text-decoration: none;
        color: white;
        transition: color 0.4s linear;
        position: relative;
        padding: 1.125rem;
    }
    .links:hover {
        color: $purpleColor;
    }
    .links::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    }
    .navbar-links::before {
        transform: scaleX(0);
    }
    .navbar-links:hover::before {
        transform: scaleX(1);
    }
    .navbar-btn {
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        @include font();
        cursor: pointer;
        transition: 1s;
        box-shadow: 1px 2px white;
    }
    .navbar-btn:hover {
        background-color: white;
        transform: translateX(-5px) translateY(5px);
        color: $purpleColor;
    }

}

.logo {
    width: 15rem;
}
main  {
    width: 70%;
    margin: auto;
    text-align: center;
}
.hero {
    background-image: linear-gradient(rgb(103, 34, 128, 0.7),rgb(166, 38, 211, 0.7)), url(./assets/heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    filter: drop-shadow(8px 8px 10px gray);
}
.hero-text {
    padding-top: 10rem;
    max-width: 60%;
    margin: auto;
    h1 {
        font-family: 'Cairo',sans-serif;
        font-weight: bold;
        font-size: 2.125rem;
        color: white;
        text-shadow : 2px 2px 5px black;
        text-align: start;
    }
    p {
        margin-top: 2rem;
        font-family: 'Cairo',sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        text-shadow : 2px 2px 5px black;
        text-align: start;
    }
    .btn-container {
        @include flex();
        justify-content: space-evenly;   
    }
    .btn {
        margin-top: 2rem;
        padding: 1.250rem 10rem;
        margin: 10rem, 2rem;
        background: transparent;
        @include font();
        cursor: pointer;
        border-radius: 10px;
        border: 5px solid white;
        color: white;
        position: relative;
        transition: color 0.4s linear;
    }
    .btn:hover {
        color: black;
        text-shadow: 2px 2px 5px $purpleColor;
    }
    .btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: -1;
        transition: transform 0.5s;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    }
    .hero-btn::before {
        transform: scaleX(0);
    }
    .hero-btn:hover::before {
        transform: scaleX(1);
    }
}