@import "./Sass/mixins";
@import "./Sass/functions";
@import "./Sass/variables";
@import "./Sasscomponents/navbar";
@import "./Sasscomponents/hero";
@import "./index.css";
@import "./Sasscomponents/login";
@import "./Sasscomponents/signup";
@import "./Sasscomponents/welcomehero";
@import "./Sasscomponents/welcomenavbar";
@import "./Sasscomponents/welcomepopular";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: mix(#672280, #A626D3, 0.5);
}
::-webkit-scrollbar-thumb {
    background: $purpleColor;
    border-radius: 100vw;
    &:hover {
        background: hwb(271 17% 50%);
    }
}