@import "./Sass/mixins";
@import "./Sass/functions";
@import "./Sass/variables";
@import "./Sasscomponents/navbar";
@import "./Sasscomponents/hero";
@import "./index.css";
@import "./Sasscomponents/login";
@import "./Sasscomponents/signup";
@import "./Sasscomponents/welcomehero";
@import "./Sasscomponents/welcomenavbar";
@import "./Sasscomponents/welcomepopular";
@import "./Sasscomponents/about";
@import "./Sasscomponents/faq";
@import "./Sasscomponents/footer";
@import "./Sasscomponents/moviedescription";
@import "./Sasscomponents/sidebar";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
