@import "./index.css";
header {
  background: linear-gradient(#672280, #A626D3) right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  position: sticky;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  list-style: none;
  margin-right: 3.5rem;
  gap: 3rem;
  position: relative;
}
.nav-links .dropdown {
  position: relative;
}
.nav-links .latest {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  width: 180%;
  top: calc(100% + 1rem);
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-links .latest li {
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: start;
}
.nav-links .latest li:hover {
  transform: translateX(2px) translateY(-2px);
}
.nav-links .latest a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 5px #8A2BE2;
}
.nav-links .hamburger {
  position: absolute;
  left: 0rem;
  display: none;
  cursor: pointer;
}
.nav-links .mobilenav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
}
.nav-links .mobile-btn {
  display: none;
}
.nav-links .link {
  display: none;
}
.nav-links .links {
  text-decoration: none;
  color: white;
  transition: color 0.4s linear;
  position: relative;
  padding: 1.125rem;
}
.nav-links .links:hover {
  color: #8A2BE2;
}
.nav-links .links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.nav-links .navbar-links::before {
  transform: scaleY(0);
}
.nav-links .navbar-links:hover::before {
  transform: scaleY(1);
}
.nav-links .navbar-btn {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 1s;
  box-shadow: 1px 2px white;
}
.nav-links .navbar-btn:hover {
  background-color: white;
  transform: translateX(-5px) translateY(5px);
  color: #8A2BE2;
}
.nav-links .latestli {
  display: none;
}

.logo {
  width: 15rem;
}

@media (max-width: 1393px) {
  .nav-links {
    gap: 2rem;
    margin-right: 0;
  }
}
@media (max-width: 1221px) {
  .nav-links {
    gap: 1rem;
  }
}
@media (max-width: 1150px) {
  .nav-links .links {
    display: none;
    padding: 1rem 8.3rem;
    width: 100%;
  }
  .nav-links .mobilenav {
    background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 6.7rem;
    right: 0;
    max-width: 100%;
    padding: 5rem;
    gap: 1rem;
    height: 100vh;
  }
  .nav-links .mobilelatest {
    text-align: center;
    padding: 0;
  }
  .nav-links .mobilelatest .latestli {
    color: white;
    display: block;
    text-decoration: none;
    transition: color 0.4s linear;
    position: relative;
    padding: 1rem 5rem;
    max-width: 100%;
    margin-top: 2rem;
  }
  .nav-links .mobilelatest .latestli:hover {
    color: #8A2BE2;
  }
  .nav-links .mobilelatest .latestli::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .nav-links .mobilelatest .latest-links::before {
    transform: scaleX(0);
  }
  .nav-links .mobilelatest .latest-links:hover::before {
    transform: scaleX(1);
  }
  .nav-links .mobile-btn {
    display: block;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1rem 7.3rem;
    transition: 1s;
    box-shadow: 1px 2px white;
    max-width: 100%;
  }
  .nav-links .mobile-btn:hover {
    background-color: white;
    transform: translateX(-5px) translateY(5px);
    color: #8A2BE2;
  }
  .nav-links .navbar-btn {
    display: none;
  }
  .nav-links .hamburger {
    display: block;
  }
  .nav-links .dropdown {
    display: none;
    opacity: 0;
  }
  .nav-links .link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.4s linear;
    position: relative;
    padding: 1rem 8rem;
    max-width: 100%;
  }
  .nav-links .link:hover {
    color: #8A2BE2;
  }
  .nav-links .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .nav-links .navbar-link::before {
    transform: scaleY(0);
  }
  .nav-links .navbar-link:hover::before {
    transform: scaleY(1);
  }
}
@media (min-width: 35em) {
  header {
    width: 100%;
  }
}
main {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
}

.hero {
  margin-top: 5.65rem;
  background-image: linear-gradient(rgba(103, 34, 128, 0.7019607843), rgba(166, 38, 211, 0.7)), url(./assets/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: fixed;
  max-width: 70%;
  z-index: -1;
  filter: drop-shadow(8px 8px 10px gray);
}
.hero .hero-text {
  padding-top: 10rem;
  max-width: 60%;
  margin: auto;
}
.hero .hero-text h1 {
  font-family: "Cario", sans-serif;
  font-weight: bold;
  font-size: 2.125rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: start;
}
.hero .hero-text p {
  font-family: "Cario", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: start;
  margin-top: 2rem;
}
.hero .hero-text .btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin-top: 6rem;
}
.hero .hero-text .btn {
  background: transparent;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
  transition: color 0.4s linear;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}
.hero .hero-text .btn:hover {
  color: black;
  text-shadow: 2px 2px 5px #8A2BE2;
}
.hero .hero-text .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: 0px;
}
.hero .hero-text .hero-btn::before {
  transform: scaleX(0);
}
.hero .hero-text .hero-btn:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1570px) {
  .hero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: auto;
  }
  .hero .hero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .hero .hero-text h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .hero .hero-text .p-1 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .p-2 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
  }
}
@media (max-height: 745px) {
  .hero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: auto;
  }
  .hero .hero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .hero .hero-text h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .hero .hero-text .p-1 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .p-2 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
  }
}
@media (max-height: 656px) {
  .hero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: auto;
  }
  .hero .hero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .hero .hero-text h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .hero .hero-text .p-1 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .p-2 {
    font-size: 1rem;
    text-align: center;
  }
  .hero .hero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 105rem;
  }
}
@media (min-width: 415px) {
  .hero .hero-text .btn {
    padding: 1.25rem 10rem;
  }
}
@media (max-width: 414px) {
  .hero .hero-text .btn {
    padding: 1.25rem 5rem;
  }
}
.login-section {
  background-image: linear-gradient(rgba(103, 34, 128, 0.7), rgba(166, 38, 211, 0.7)), url(./assets/loginbackground.jpg);
  padding: 8.2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  max-width: 40%;
  margin: 4rem auto;
  border: 1px solid red;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 2rem;
}
.login-container .login {
  text-align: center;
  margin-right: 9rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  transition: 350ms;
  text-shadow: 2px 2px 5px blueviolet;
}
.login-container .login:hover {
  transform: translateX(-3px) translateY(-3px);
}
.login-container img {
  filter: drop-shadow(8px 8px 10px gray);
  border: 1px solid black;
  border-radius: 5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 350ms;
}
.login-container img:hover {
  transform: translateX(-3px) translateY(-3px);
}
.login-container input {
  display: block;
  width: 60%;
  padding: 0.5rem 1rem;
  margin: 0.6rem auto;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}
.login-container input:focus {
  border: 1px solid blueviolet;
}
.login-container input::-moz-placeholder {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.login-container input::placeholder {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.login-container h1 {
  text-align: start;
  margin-left: 9rem;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
.login-container button {
  max-width: 100%;
  display: block;
  padding: 1rem 11rem;
  margin: 2rem auto;
  border: 1px solid blueviolet;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: transparent;
  box-shadow: 2px 2px 5px blueviolet;
}
.login-container button:hover {
  background-color: blueviolet;
}
.login-container p {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.7;
}
.login-container .remember-me {
  display: inline;
  width: 5%;
}

.signup-section {
  background-image: linear-gradient(rgba(103, 34, 128, 0.7), rgba(166, 38, 211, 0.7)), url(./assets/loginbackground.jpg);
  padding: 4.38rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-container {
  max-width: 40%;
  margin: 2.27rem auto;
  border: 1px solid red;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 2rem;
}
.signup-container .signup {
  text-align: center;
  margin-right: 9rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  transition: 350ms;
  text-shadow: 2px 2px 5px blueviolet;
}
.signup-container .signup:hover {
  transform: translateX(-3px) translateY(-3px);
}
.signup-container img {
  filter: drop-shadow(8px 8px 10px gray);
  border: 1px solid black;
  border-radius: 5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 350ms;
}
.signup-container img:hover {
  transform: translateX(-3px) translateY(-3px);
}
.signup-container input {
  display: block;
  width: 60%;
  padding: 0.5rem 1rem;
  margin: 0.6rem auto;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}
.signup-container input:focus {
  border: 1px solid blueviolet;
}
.signup-container input::-moz-placeholder {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.signup-container input::placeholder {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.signup-container h1 {
  text-align: start;
  margin-left: 9rem;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
.signup-container button {
  border: 1px solid blueviolet;
  border-radius: 10px;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem 11rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: 350ms;
  background-color: transparent;
  box-shadow: 2px 2px 5px blueviolet;
}
.signup-container button:hover {
  background-color: blueviolet;
}
.signup-container p {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.7;
}
.signup-container .error {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2rem;
}

main {
  width: 70%;
  text-align: center;
}

.welcomehero {
  background-image: linear-gradient(#672280, rgba(166, 38, 211, 0.7)), url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(8px 8px 10px gray);
}
.welcomehero .welcomehero-text {
  padding-top: 10rem;
  max-width: 60%;
  margin: auto;
}
.welcomehero .welcomehero-text h1 {
  font-family: "Cario", sans-serif;
  font-weight: bold;
  font-size: 2.125rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: start;
  text-align: center;
}
.welcomehero .welcomehero-text p {
  font-family: "Cario", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: start;
  margin-top: 13rem;
}
.welcomehero .welcomehero-text .btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin-top: 2rem;
}
.welcomehero .welcomehero-text .btn-container .btn {
  background: transparent;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
  transition: color 0.4s linear;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  width: 50rem;
}
.welcomehero .welcomehero-text .btn-container .btn:hover {
  color: black;
  text-shadow: 2px 2px 5px #8A2BE2;
}
.welcomehero .welcomehero-text .btn-container .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: 0px;
}
.welcomehero .welcomehero-text .btn-container .welcomehero-btn::before {
  transform: scaleX(0);
}
.welcomehero .welcomehero-text .btn-container .welcomehero-btn:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1570px) {
  main {
    width: 100%;
  }
  .welcomehero {
    padding: 0;
  }
  .welcomehero .welcomehero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .welcomehero .welcomehero-text h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .welcomehero .welcomehero-text p {
    font-family: "Cario", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: start;
    margin-top: 2rem;
  }
  .welcomehero .welcomehero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 105rem;
  }
  .welcomehero .welcomehero-text .btn-container .btn {
    display: block;
    width: 100%;
  }
}
@media (max-height: 745px) {
  .welcomehero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100vh;
  }
  .welcomehero .welcomehero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .welcomehero .welcomehero-text h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .welcomehero .welcomehero-text p {
    font-family: "Cario", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: start;
    margin-top: 2rem;
  }
  .welcomehero .welcomehero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 105rem;
  }
  .welcomehero .welcomehero-text .btn {
    display: block;
    width: 100%;
  }
}
@media (max-height: 868px) {
  .welcomehero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100vh;
  }
  .welcomehero .welcomehero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .welcomehero .welcomehero-text h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .welcomehero .welcomehero-text p {
    font-family: "Cario", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: start;
    margin-top: 2rem;
  }
  .welcomehero .welcomehero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 105rem;
  }
  .welcomehero .welcomehero-text .btn {
    display: block;
    width: 100%;
  }
}
@media (max-height: 656px) {
  .welcomehero {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 100vh;
  }
  .welcomehero .welcomehero-text {
    margin-bottom: 15rem;
    padding-top: 5rem;
  }
  .welcomehero .welcomehero-text h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .welcomehero .welcomehero-text p {
    font-family: "Cario", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: start;
    margin-top: 2rem;
  }
  .welcomehero .welcomehero-text .btn-container {
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 105rem;
  }
  .welcomehero .welcomehero-text .btn {
    display: block;
    width: 100%;
  }
}
@media (min-width: 415px) {
  .welcomehero .welcomehero-text .btn {
    padding: 1.5rem 15.5rem;
  }
}
@media (max-width: 942px) {
  .welcomehero {
    height: 100vh;
  }
  .welcomehero .welcomehero-text .btn {
    padding: 1.25rem 5rem;
  }
}
@media (max-width: 642px) {
  .welcomehero {
    height: 120vh;
  }
  .welcomehero .welcomehero-text .btn {
    padding: 1.25rem 5rem;
  }
}
@media (min-width: 1569px) {
  .welcomehero .welcomehero-text .btn {
    padding: 1.25rem 2rem;
  }
}
@media (max-height: 641px) {
  .welcomehero {
    height: 140vh;
  }
}
.navbar {
  background: linear-gradient(#672280, #A626D3) right;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.logo {
  mix-blend-mode: hard-light;
}

.loading {
  width: 20%;
  margin: auto;
  margin-top: 20rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  transition: 10ms ease-in;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.profiledisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  border: 1px solid #8A2BE2;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 0.5rem 2rem;
}
.profiledisplay .logout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(#672280, #A626D3);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1rem 1rem;
  position: fixed;
  top: 6rem;
  right: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.profiledisplay .logout .profilebtn {
  background-color: rgb(3, 37, 65);
}
.profiledisplay .logout .signout {
  background-color: rgb(3, 37, 65);
}

.profilename {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.logoutinfo {
  margin-top: 3rem;
}

.profileemail {
  color: white;
}

.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  list-style: none;
  margin-right: 3.5rem;
  gap: 3rem;
}
.nav-links .dropdown {
  position: relative;
}
.nav-links .latest {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  width: 180%;
  top: calc(100% + 1rem);
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-links .latest li {
  cursor: pointer;
  padding: 0.5rem 0;
  text-align: start;
}
.nav-links .latest li:hover {
  transform: translateX(2px) translateY(-2px);
}
.nav-links .latest a {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 5px #8A2BE2;
}
.nav-links .hamburger {
  position: absolute;
  display: none;
  cursor: pointer;
}
.nav-links .mobilenav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  flex-direction: row;
}
.nav-links .mobilenav .closed {
  display: none;
}
.nav-links .mobile-btn {
  display: none;
}
.nav-links .link {
  display: none;
}
.nav-links .links {
  text-decoration: none;
  color: white;
  transition: color 0.4s linear;
  position: relative;
  padding: 1.125rem;
}
.nav-links .links:hover {
  color: #8A2BE2;
}
.nav-links .links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.nav-links .navbar-links::before {
  transform: scaleY(0);
}
.nav-links .navbar-links:hover::before {
  transform: scaleY(1);
}
.nav-links .navbar-btn {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 1s;
  box-shadow: 1px 2px white;
}
.nav-links .navbar-btn:hover {
  background-color: white;
  transform: translateX(-5px) translateY(5px);
  color: #8A2BE2;
}
.nav-links .latestli {
  display: none;
}

.logo {
  width: 15rem;
}

@media (max-width: 1393px) {
  .nav-links {
    gap: 2rem;
    margin-right: 0;
  }
}
@media (max-width: 1221px) {
  .nav-links {
    gap: 1rem;
  }
}
@media (max-width: 1150px) {
  .profiledisplay {
    display: none;
  }
  .profileicon {
    display: none;
  }
  .profilename {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav-links .links {
    display: none;
    padding: 1rem 8.3rem;
    width: 100%;
  }
  .nav-links .mobilenav {
    background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0rem;
    right: 0;
    max-width: 100%;
    padding: 5rem;
    gap: 1rem;
    height: 100vh;
    z-index: -1;
  }
  .nav-links .mobilenav .closed {
    display: block;
    position: fixed;
    top: 2.3rem;
    right: 1.1rem;
  }
  .nav-links .mobilelatest {
    text-align: center;
    padding: 0;
  }
  .nav-links .mobilelatest .latestli {
    color: white;
    display: block;
    text-decoration: none;
    transition: color 0.4s linear;
    position: relative;
    padding: 1rem 5rem;
    max-width: 100%;
    margin-top: 2rem;
  }
  .nav-links .mobilelatest .latestli:hover {
    color: #8A2BE2;
  }
  .nav-links .mobilelatest .latestli::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .nav-links .mobilelatest .latest-links::before {
    transform: scaleX(0);
  }
  .nav-links .mobilelatest .latest-links:hover::before {
    transform: scaleX(1);
  }
  .nav-links .mobile-btn {
    display: block;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1rem 7.3rem;
    transition: 1s;
    box-shadow: 1px 2px white;
    max-width: 100%;
  }
  .nav-links .mobile-btn:hover {
    background-color: white;
    transform: translateX(-5px) translateY(5px);
    color: #8A2BE2;
  }
  .nav-links .navbar-btn {
    display: none;
  }
  .nav-links .hamburger {
    display: block;
  }
  .nav-links .dropdown {
    display: none;
    opacity: 0;
  }
  .nav-links .link {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.4s linear;
    position: relative;
    padding: 1rem 8rem;
    max-width: 100%;
  }
  .nav-links .link:hover {
    color: #8A2BE2;
  }
  .nav-links .link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .nav-links .navbar-link::before {
    transform: scaleY(0);
  }
  .nav-links .navbar-link:hover::before {
    transform: scaleY(1);
  }
}
@media (min-width: 35em) {
  header {
    width: 100%;
  }
}
.popular {
  max-width: 70%;
  margin: auto;
  margin-top: 7rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.popular button {
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.5rem;
}
.popular h1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 10px;
  flex-direction: row;
  max-width: 70%;
  margin: 1rem auto;
  overflow-x: scroll;
  padding: 2rem;
}
.card-container .movieimage {
  border: 1px solid rgbe(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  transition: 350ms;
}
.card-container .movieimage:hover {
  transform: scale(1.1);
  z-index: 9999;
}
.card-container .movietitle {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 350ms;
}
.card-container .movietitle:hover {
  transform: scale(1.01);
  z-index: 9999;
}
.card-container .moviedate {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

@media (max-width: 745px) {
  .popular {
    max-width: 90%;
  }
  .popular button {
    padding-inline: 0rem;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }
}
@media (max-width: 474px) {
  .popular {
    max-width: 100%;
    margin-right: 0.2rem;
  }
  .popular button {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  flex-direction: row;
  max-width: 70%;
  margin: 2rem auto;
  text-align: center;
  padding: 4rem;
  background-image: linear-gradient(to right, #672280, #A626D3), url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(8px 8px 10px gray);
}
.about-container img {
  width: 25rem;
}
.about-container h1 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 5px black;
  padding: 2rem;
}
.about-container p {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: start;
}

@media (max-width: 1569px) {
  .about-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
  }
  .about-container img {
    width: 20rem;
    text-align: center;
  }
  .about-container h1 {
    text-align: center;
  }
  .about-container p {
    text-align: center;
  }
}
@media (max-width: 1393px) {
  .about-container {
    max-width: 100%;
  }
  .about-container img {
    width: 15rem;
  }
  .about-container h1 {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }
  .about-container p {
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
  }
}
@media (max-width: 942px) {
  .about-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
  }
  .about-container img {
    width: 15rem;
  }
  .about-container h1 {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }
  .about-container p {
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
.faq-container {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  max-width: 70%;
  margin: 2rem auto;
  text-align: center;
  filter: drop-shadow(8px 8px 10px gray);
}
.faq-container .question-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding-block: 2rem;
  margin-top: 2rem;
  box-shadow: 8px 8px 10px gray;
}
.faq-container .question-container .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-inline: 2rem;
}
.faq-container .question-container .answer {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1.75rem;
  padding-inline: 2rem;
  text-align: start;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
  display: block;
}
.faq-container .question-container .noanswer {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1.75rem;
  padding-inline: 2rem;
  text-align: start;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  display: none;
}

@media (max-width: 745px) {
  .faq-container {
    max-width: 90%;
  }
  .faq-container .question-container .question {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
  }
}
.footer-container {
  margin-top: 4rem;
  max-width: 100%;
  text-align: center;
  background: linear-gradient(#672280, #A626D3);
  width: 100%;
}
.footer-container .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  flex-direction: row;
  padding: 6rem;
}
.footer-container .content-container h1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.footer-container .content-container .container-2 .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
}
.footer-container .content-container .container-2 .contact .contacticon {
  transition: 150ms ease-in;
}
.footer-container .content-container .container-2 .contact .contacticon:hover {
  transform: translateY(-5px);
}
.footer-container .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.footer-container .copyright h1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 745px) {
  .footer-container .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
  }
}
@media (max-width: 445px) {
  .footer-container .copyright h1 {
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }
}
.backdropimage {
  width: 100%;
  background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
  border: 1px solid purple;
  border-radius: 10px;
  color: white;
  filter: drop-shadow(8px 8px 10px gray);
  text-shadow: 2px 2px 5px black;
  box-shadow: 5px 5px 8px #8A2BE2;
  width: 70%;
  margin: 2rem auto;
  padding: 4rem;
  background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
}
.description-container img {
  border-radius: 10px;
}
.description-container .movietitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
.description-container .genres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
.description-container .seasons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
.description-container .vote {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  border: 1px solid black;
  border-radius: 100%;
  box-shadow: 5px 5px 8px rgb(3, 37, 65);
  background-color: rgb(3, 37, 65);
  text-align: center;
  width: 50%;
  margin-block: 2rem;
  margin-left: 10rem;
}
.description-container .summary {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 3rem;
}
.description-container .buttons {
  margin-left: 4rem;
  margin-top: 1rem;
}
.description-container .buttons .watch {
  margin-left: 1rem;
  background-color: rgb(3, 37, 65);
}
.description-container .list {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: center;
}

.media {
  margin-top: 4rem;
}

.lastepisodetoair {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  margin: 4rem 9rem;
  border: 1px solid white;
  border-radius: 10px;
  padding-right: 2rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.letainfo {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
}

.letaoverview {
  text-align: start;
  margin-top: 2rem;
  width: 100%;
  font-weight: 400;
}

.letaseason {
  color: gray;
}

.letaruntime {
  color: gray;
  font-weight: 400;
}

.lastepisodetoairimg {
  width: 20rem;
  height: 31vh;
  border: 1px solid white;
  border-radius: 10px;
}

.noimage {
  width: 20rem;
  border: 1px solid white;
  border-radius: 10px;
}

.seasondesc {
  display: flex;
  justify-content: start;
  align-items: top;
  gap: 1rem;
  flex-direction: row;
  margin: 4rem 9rem;
  border: 1px solid white;
  border-radius: 10px;
  padding-right: 2rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.seasonimg {
  width: 20rem;
  border: 1px solid white;
  border-radius: 10px;
}

.seasoninfo {
  text-align: start;
}
.seasoninfo .seasonname {
  font-size: 2rem;
  padding-right: 2rem;
}
.seasoninfo .seasonpremiere {
  font-weight: 400;
}
.seasoninfo .seasonoverview {
  font-weight: 400;
  margin-top: 5rem;
}

.movie-credits {
  max-width: 82%;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
.movie-credits h1 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
.movie-credits .cast-container {
  margin-top: 4rem;
  overflow-y: hidden;
  white-space: nowrap;
}
.movie-credits .cast {
  display: inline-flex;
  max-width: 82%;
  margin: auto;
  overflow-x: auto;
}
.movie-credits .cast .actor {
  flex: 0 0 auto;
  margin-right: 1.25rem;
}
.movie-credits .cast .actor:last-child {
  margin-right: 0;
}
.movie-credits .cast img {
  border-radius: 10px;
}
.movie-credits .cast p {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
.movie-credits .cast .nopfp {
  width: 13rem;
  height: 31.5vh;
}
.movie-credits .display-content {
  margin-top: 4rem;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 82%;
  margin: auto;
}
.movie-credits .youtube-video {
  display: inline-flex;
  flex: 0 0 auto;
  margin-right: 1.25rem;
}
.movie-credits .youtube-video iframe {
  width: 98rem;
  height: 50rem;
}
.movie-credits .additional {
  max-width: 82%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  flex: 1;
}
.movie-credits .additional .status, .movie-credits .additional .budget, .movie-credits .additional .revenue, .movie-credits .additional .og-language {
  border: 1px solid purple;
  border-radius: 10px;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
  color: white;
  filter: drop-shadow(8px 8px 10px gray);
  text-shadow: 2px 2px 5px black;
  margin-top: 4rem;
  padding: 2rem 2rem;
}
.movie-credits .additional .status p, .movie-credits .additional .budget p, .movie-credits .additional .revenue p, .movie-credits .additional .og-language p {
  color: white;
  font-weight: 400;
  text-shadow: none;
}
.movie-credits .original-language {
  text-transform: uppercase;
}
.movie-credits .reviewflex {
  overflow-x: auto;
}
.movie-credits .reviews {
  margin-top: 4rem;
}
.movie-credits .review {
  display: inline-flex;
  transform: translate(50px);
  margin: auto;
  padding: 2rem 8rem;
}
.movie-credits .review .thereview {
  border: 1px solid purple;
  border-radius: 10px;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-image: linear-gradient(rgba(103, 34, 128, 0.8), rgba(166, 38, 211, 0.8));
  color: white;
  filter: drop-shadow(8px 8px 10px gray);
  text-shadow: 2px 2px 5px black;
  margin-top: 1rem;
  margin-right: 20px;
}
.movie-credits .review .thereview:last-child {
  margin-right: 0;
}
.movie-credits .author-details {
  width: 75rem;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.movie-credits .author-details .reviewpfp {
  border: 1px solid white;
  border-radius: 20rem;
  width: 4rem;
}
.movie-credits .author-details .reviewauthor {
  text-align: start;
}
.movie-credits .author-details .noreviewpfp {
  width: 4rem;
}
.movie-credits .author-details h1 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.movie-credits .author-details p {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: gray;
}
.movie-credits .author-details .time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.movie-credits .author-details .reviewrating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.movie-credits .reviewcontent {
  text-align: start;
  padding: 1rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: none;
}
.movie-credits .noprofilepic {
  width: 4rem;
  border: 1px solid white;
  border-radius: 20rem;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 10rem;
  flex-direction: row;
}
.profile .sidebar {
  filter: drop-shadow(8px 8px 10px gray);
  display: flex;
  justify-content: top;
  align-items: start;
  gap: 0;
  flex-direction: column;
  width: 30%;
  margin-right: auto;
  margin-top: 4rem;
  height: 50vh;
  margin-left: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile .sidebar .sidebuttoncontainer {
  width: 80%;
  margin-inline: auto;
  margin-top: 2rem;
}
.profile .sidebar .sidebuttoncontainer Button {
  border: none;
  padding: 1rem;
  width: 100%;
}
.profile .dashboard {
  width: 80%;
  margin-right: 10rem;
  margin-top: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile .dashboard .title {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.profile .moviestvshows {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 4rem;
  flex-direction: row;
  padding: 2rem;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.profile .moviestvshows .moviesdashboard {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
  background-image: linear-gradient(rgb(103, 34, 128), rgb(166, 38, 211));
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.profile .moviestvshows .moviesdashboard h1 {
  font-weight: 400;
  color: white;
}
.profile .moviestvshows .moviesdashboard p {
  color: white;
  font-size: 1.5rem;
}
.profile .moviestvshows .tvshowsdashboard {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
  background-image: linear-gradient(rgb(103, 34, 128), rgb(166, 38, 211));
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.profile .moviestvshows .tvshowsdashboard h1 {
  font-weight: 400;
  color: white;
}
.profile .moviestvshows .tvshowsdashboard p {
  color: white;
  font-size: 1.5rem;
}
.profile .list {
  font-size: 5rem;
  border-radius: 10rem;
  padding: 1rem;
  background-color: rgb(110, 216, 230);
  color: white;
  margin-top: 0.5rem;
}
.profile .list2 {
  font-size: 5rem;
  border-radius: 10rem;
  padding: 1rem;
  background-color: orange;
  color: white;
  margin-top: 0.5rem;
}
.profile .list3 {
  font-size: 5rem;
  border-radius: 10rem;
  padding: 1rem;
  background-color: purple;
  color: white;
  margin-top: 0.5rem;
}
.profile .wlists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  padding: 2rem;
}
.profile .wlists .watchedlist, .profile .wlists .watchinglist, .profile .wlists .wanttowatchlist {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  background-image: linear-gradient(rgb(103, 34, 128), rgb(166, 38, 211));
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.profile .wlists .watchedlist h1, .profile .wlists .watchinglist h1, .profile .wlists .wanttowatchlist h1 {
  font-weight: 400;
  color: white;
}
.profile .wlists .watchedlist p, .profile .wlists .watchinglist p, .profile .wlists .wanttowatchlist p {
  color: white;
  font-size: 1.5rem;
}
.profile .movieslist {
  width: 80%;
  box-shadow: 5px 5px 8px gray;
  margin-right: 10rem;
  margin-top: 4rem;
  overflow-y: scroll;
  height: 120vh;
}
.profile .tvshowslist {
  width: 80%;
  box-shadow: 5px 5px 8px gray;
  margin-right: 10rem;
  margin-top: 4rem;
}
.profile .titles {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.profile .addmovie {
  margin-left: 31rem;
}

.searchtitles {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 60rem;
}

.searchmovies {
  display: flex;
  justify-content: start;
  align-items: top;
  gap: 2rem;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-block: 2rem;
}
.searchmovies .searchtitle {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
.searchmovies .searchoverview {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.searchmovies .buttons {
  margin-top: 2rem;
}
.searchmovies .buttons Button {
  margin-left: 2rem;
}

.searchformovie {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
}
.searchformovie .searchinput {
  width: 80%;
  padding: 1rem;
  margin-left: 2rem;
}
.searchformovie .searchbutton {
  height: 6vh;
  width: 8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=index.css.map */